/* src/index.css */

@import '~bootstrap/dist/css/bootstrap.min.css';

/* Personalize as cores do Bootstrap ou adicione suas próprias classes de cores */
:root {
  --primary-color: #3498db;
  --success-color: #2ecc71;
  --danger-color: #e74c3c;
}

/* Restante do conteúdo do arquivo */